{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SPA Static Downloader</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{% static 'img/icons/favicon.png' %}" />

  <!-- Styles -->
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />

  <!-- Scripts -->
  <script type="text/javascript" src="{% static 'js/color_mode.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/loading.js' %}"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="nav">
    <div class="logo">SPA Downloader</div>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'about' %}">How It Works</a></li>
      <button id="theme-toggle" class="theme-toggle" aria-label="Toggle theme" onclick="chooseColorMode()"></button>
    </ul>
  </nav>

  <!-- Main Content -->
  <main class="fade-in container" style="position: relative;">
    <h1 class="title">Download Static Copies of SPA Sites</h1>
    <p class="subtitle">Enter the URL of a site built with React, Vue, etc., and get a zipped static version.</p>

    <!-- Form and Loading Container Wrapper -->
    <div style="position: relative;">

      <!-- Form Container -->
      <div id="formContainer">
        <form id="downloadForm" method="POST" action="{% url 'download_zip' %}">
          {% csrf_token %}

          <div class="inputUrl">
            {{ form.input_url }}
          </div>

          <div class="inputCaptcha">
            {{ form.captcha }}
          </div>

          <div id="submitBtn">
            <button type="submit" id="downloadBtn">Generate ZIP</button>
          </div>
        </form>
      </div>

      <!-- Loading Overlay -->
      <div id="loadingContainer">
        <img src="{% static 'img/gifs/loading.gif' %}" alt="loading GIF" />
      </div>

    </div>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <p>
      © {{ year }} SPA Downloader. Made by
      <a href="https://github.com/BrunoRNS/">BrunoRNS</a>. Licensed under
      <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a>.
    </p>
  </footer>

  <!-- JS Constants -->
  <script type="text/javascript">
    const HOME_URL = "{% url 'home' %}";
  </script>

  <!-- Main Script -->
  <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
</body>

</html>
