{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SPA Static Downloader</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}" />

</head>

<body>

  <nav class="nav">

    <div class="logo">SPA Downloader</div>
    
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'about' %}">How It Works</a></li>
    </ul>

  </nav>

  <main class="fade-in container">
    <h1 class="title">Download Static Copies of SPA Sites</h1>
    <p class="subtitle">Enter the URL of a site built with React, Vue, etc., and get a zipped static version.</p>
    
    <form method="POST" action="{% url 'download_spa_zip' %}" class="form">

      {% csrf_token %}
      <input type="url" name="url" placeholder="https://example.com" required class="input" />

      <button type="submit" class="button" id="downloadBtn" onclick="startDownloadAnimation()">
          Generate ZIP
      </button>

    </form>
  </main>

  <footer class="footer">
    <p>© {{ year }} SPA Downloader. Made By <a href="https://github.com/BrunoRNS/">BrunoRNS</a>. Licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a>.</p>
  </footer>

</body>
</html>